*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
  --color-white: #ffffff;
  --color-bg-white: #f8f6f6;
  --color-purple:rgb(162, 8, 162);
  --color-coal-black: rgb(44, 43, 43);
}